@import url('https://fonts.googleapis.com/css2?family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body * {
    font-family: "Thasadith", sans-serif !important;
    /* font-size: 30px; */
    /* font-weight: 500; */
    color: #091747;
}
.stAppDeployButton {
    visibility: none;
}
div[data-testid="stStatusWidget"] div button {
    display: none;
}
div[data-testid="stToolbar"] { visibility: hidden; height: 0%; position: fixed; }
[data-testid="stForm"] {border: 0px}

.block-container {
    padding-top: 0rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Hide the Streamlit header and menu */
header {visibility: hidden;}
/* Optionally, hide the footer */
.streamlit-footer {display: none;}
/* Hide your specific div class, replace class name with the one you identified */
.st-emotion-cache-uf99v8 {display: none;}

/* .reportview-container {
margin-top: 1rem;
} */
/* .reportview-container {
    margin-top: -2em;
    } */
#MainMenu {visibility: none;}
.stDeployButton {display:none;}
footer {visibility: none;}
#stDecoration {display:none;}